
.each-cake-div {
  border: 2px dashed #f0a8c6;
  width: 25rem;
  padding-bottom: 0.5rem;
  margin: 2%;
  border-radius: 20px;
}

.each-cake-div .each-cake-image {
  height: 20rem;
  width: 25rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.each-cake-div a{
  text-decoration: none;
}

.each-cake-div .each-cake-name {
  display: flex;
  background-color: red;
  color: white;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  width: 60%;
  margin-left: 15%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}

.all-cakes-order-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.all-cakes-order-div a {
  text-decoration: none;
}

.each-ordered-cake-div {
  background-color: #f0a8c6;
  width: 22rem;
  padding-bottom: 0.5rem;
  margin: 2%;
  border-radius: 20px;
}
.each-ordered-cake-div button {
  background-color: red;
  border-radius: 20px;
  display: flex;
  width: 70%;
  font-weight: bolder;
  margin-left: 15%;
  font-size: 20px;
  color: white;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 20px;
  border: none;
}
.each-ordered-cake-div .each-cake-image {
  height: 20rem;
  width: 22rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.each-ordered-cake-div .each-cake-name {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  color: red;
  font-weight: bolder;
  text-decoration: none;
}

.each-ordered-cake-div a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: red;
  font-weight: bolder;
}

li {
  text-decoration: none;
  list-style: none;
}
.order-first-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.order-first-div > div {
  margin: 5%;
}
.order-details-image1 img {
  height: 20rem;
  width: 20rem;
  border-radius: 20px;
}
.order-details-image2 img {
  height: 20rem;
  width: 20rem;
  border-radius: 20px;
}

.order-first-div .order-details-info {
  font-size: 25px;
}
.order-first-div .order-details-info .ordered-cake-title {
  display: flex;
  flex-direction: column;
}
.order-first-div .order-details-info .ordered-cake-title > div .key-of-cake {
  color: red;
}
.order-first-div .order-details-info .ordered-cake-title > div .value-of-cake {
  color: pink;
  font-weight: bolder;
}

.order-first-div .order-details-info .ordered-cake-prices h3 {
  text-decoration: underline;
  color: red;
}
.order-first-div .order-details-info .ordered-cake-prices ul > li {
  color: pink;
}

.add-to-cart-btn {
  color: white;
  background-color: red;
  border: none;
  padding: 20px;
  font-size: 15px;
  font-weight: bolder;
  border-radius: 20px;
  width: 20%;
  margin-left: 40%;
  transition: all 600ms;
}
.add-to-cart-btn:hover {
  transform: scale(1.1);
}
.select-size-number-text {
  display: flex;
  font-weight: bolder;
  font-size: 2.5rem;
  justify-content: center;
  text-decoration: underline;
}
form {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}
form > div {
  margin-bottom: 1%;
}
form .pick-size label {
  font-size: 1rem;
}
form .pick-size select {
  height: 2rem;
  width: 24%;
}
form .pick-number span {
  font-size: 1rem;
}
form .pick-number input {
  width: 16%;
  height: 2rem;
}
form .customer-name-input span {
  font-size: 1rem;
}
form .customer-name-input input {
  width: 20%;
  height: 2rem;
}
form .customer-number-input span {
  font-size: 1rem;
}
form .customer-number-input input{
  width: 19%;
  height: 2rem;
}
form .submit-btn-div button{
  color: white;
  background-color: red;
  border: none;
  padding: 10px;
  font-size: 15px;
  font-weight: bolder;
  border-radius: 20px;
  width: 20%;
  margin-left: 35%;
  transition: all 600ms;
  
}

h2 {
  display: flex;
  justify-content: center;
}

.display-total {
  margin-bottom: 5%;
}
.do-not-display {
  display: none;
}
.swal-wide {
  width: 800px !important;
}
@media only screen and (max-width: 740px) {
  .logo-image {
    height: 20%;
  }
  nav {
    width: 100%;
  }
  nav > a {
    font-size: 10px;
  }
  .each-cake-div {
    width: 20rem;
  }
  .each-cake-div .each-cake-image {
    width: 20rem;
  }
  .order-first-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .order-first-div .order-details-info {
    font-size: 20px;
  }
  .add-to-cart-btn {
    width: 70%;
    margin-left: 15%;
  }
  .select-size-number-text{
    font-size: 0.8rem;
    height: 2rem;
  }
  form .pick-size select{
    width: 60%;
    margin-left: 1%;
  }
  form .pick-number input{
    width: 30%;
  }
  form .customer-name-input input{
    width: 40%;
  }
  form .customer-number-input input  {
    width: 32%;
  }
  form .submit-btn-div button{
    width: 70%;
    margin-left: 15%;

  }
}
