.logo-image{
height:150%;
}
nav{
  display: flex;
  flex-direction: row;
  background: #F0A8C6;
  opacity: 0.9;
  justify-content: center;
}
nav > a{
  margin-right: 4%;
  margin-left: 4%;
  margin-top: 5%;
  font-size: 30px;
  text-decoration: none;
  color: #dc3d39;
  
}