

.logo-image{
height:100%;
}
nav{
  display: flex;
  flex-direction: row;
  background: #F0A8C6;
  opacity: 0.9;
  justify-content: center;
}
nav > a{
  margin-right: 4%;
  margin-left: 4%;
  margin-top: 2%;
  font-size: 30px;
  text-decoration: none;
  color: #dc3d39;
  
}
.all-cakes-home-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.each-cake-div{
  background: #F0A8C6;
  border: 2px dotted #F0A8C6 ;
  width: 22rem;
  padding-bottom: 0.5rem;
  margin: 2%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

.each-cake-div .each-cake-image{
  height: 20rem;
  width: 22rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.each-cake-div .each-cake-name{
  display: flex;
  color: red;
  justify-content: center;
  font-size: 2rem;
}
li{
  text-decoration: none;
  list-style: none;
}
.order-details-div{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.order-details-div > div{
 margin-left: 10%;
 margin-right: 10%;
}
.ordered-cake-image{
  height: 10rem;
}